<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing 'My Awsome App' website">
    <test name="Smoke">
        <classes>
            <class name="tests.LocaleTests"/>
            <class name="tests.SignupTests"/>
            <class name="tests.LoginTests"/>
            <class name="tests.AdminCitiesTests"/>
            <class name="tests.AuthRoutesTests"/>
            <class name="tests.ProfileTests"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->